<header class="flex">
  <div class="header-col-grow">
    <%= erb :_club_breadcrumb, locals: { net: @closed_net } %>

    <h1>
      <% if @user %>
        <div data-component="FavoriteNet" data-props="<%= make_value_safe_for_html_attribute({ canonicalNetId: @canonical_net&.id, favorited: @favorited_net, big: true }.to_json) %>" style="display:inline"></div>
      <% end %>
      <%== @canonical_net&.canonical_name || @closed_net.name %> (closed)
    </h1>

    <% if @canonical_net && @canonical_net.canonical_name != @closed_net.name %>
      <p><em>Logged as <%== @closed_net.name %></em></p>
    <% end %>

    <p><em>ended <%== time_ago_in_words(@closed_net.ended_at) %> ago</em></p>
  </div>

  <div class="header-col">
    <%= club_logo_image_tag(@closed_net.club) %>
  </div>
</header>


<p class="info-callout">
<% if @open_net %>
    <strong>This net is closed.</strong>
    <a href="<%= @canonical_net ? canonical_net_path(@canonical_net) : "/net/#{url_escape @open_net.name}" %>">
      There is an ongoing net in this canonical group.
    </a>
  <% elsif @more_recent_closed_net %>
    <strong>This net is closed.</strong>
    You are viewing a historical record, and not the most recent one.
    This net last operated <a href="<%= @canonical_net ? canonical_net_path(@canonical_net) : "/net/#{url_escape @more_recent_closed_net.name}" %>"><%= format_time(@more_recent_closed_net.started_at) %></a>.
  <% else %>
    <strong>This net is closed.</strong> Please check back later,
    <% if @net_count > 0 %>
      or visit the home page where <a href="/"><%= @net_count %> other net<%= @net_count == 1 ? '' : 's' %></a>
      are ongoing.
    <% else %>
      or visit the <a href="/">home page</a>.
    <% end %>
  <% end %>
</p>

<%= erb :_net_info, locals: { net: @closed_net } %>

<% if @closed_net.show_circle? %>
  <div id="net-map"
       data-centers='<%= json_for_html_attribute [{ latitude: @closed_net.center_latitude, longitude: @closed_net.center_longitude, radius: @closed_net.center_radius }]%>'></div>

  <script id="map-script">
    document.addEventListener("DOMContentLoaded", () => {
      const elm = document.getElementById('net-map')
      if (!elm) return

      if (typeof buildNetMap === "undefined") {
        elm.innerHTML = "There was an error loading the JavaScript for this site. Make sure you are using a modern web browser."
        elm.style.color = "red"
        return
      }

      const centers = JSON.parse(elm.getAttribute('data-centers'))
      buildNetMap()
      updateNetMapCenters(centers)
    })
  </script>
<% end %>

<% if is_admin? && params[:id] %>
  <div class="admin-only">
    Admin only: You are viewing a closed net from the archive.
    <a href="/admin/closed-nets?name=<%== url_escape(@closed_net.name) %>">name search</a> |
    <a href="<%== @canonical_net ? canonical_net_path(@canonical_net) : "/net/#{url_escape(@closed_net.name)}" %>">net page</a>
    &nbsp;
    <% if @closed_net.club %>
      <form action="/admin/remove_closed_net_from_club" method="post" onsubmit="if (!confirm('Sure?')) return false" class="inline">
        <input type="hidden" name="id" value="<%== @closed_net.id %>"/>
        <button>remove club</button>
      </form>
    <% end %>
    <form action="/admin/closed-net/<%== @closed_net.id %>" method="post" onsubmit="if (!confirm('Sure?')) return false" class="inline">
      <input type="hidden" name="_method" value="delete"/>
      <button>delete net</button>
    </form>
  </div>
<% end %>

<% if @older_closed_net || @more_recent_closed_net %>
  <p>
    <% if @older_closed_net %>
      <a href="/closed-net/<%== @older_closed_net.id %>">previous</a>
    <% else %>
      previous
    <% end %>
    |
    <% if @more_recent_closed_net %>
      <a href="/closed-net/<%== @more_recent_closed_net.id %>">next</a>
    <% else %>
      next
    <% end %>
  </p>
<% end %>
